<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="icon" type="image/svg+xml" href="{{ static_url("images/favicon.svg") }}">

    <!-- Глобальные стили -->
    <link rel="stylesheet" type="text/css" href="{{ static_url("lib/normalize.min.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ static_url("lib/font-awesome/css/font-awesome.min.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ static_url("style/base.css") }}">

    {% block style %}
        <!-- Наследуемые шаблоном стили -->
    {% end %}

    <title>{{ title }}</title>
</head>
<body>

{% block body %}
    <!-- Наследуемое тело страницы -->
{% end %}

<!-- Глобальные javascript`ы -->
<script src="{{ static_url("lib/jquery-3.1.1.min.js") }}"></script>
<script src="{{ static_url("javascript/cookies.js") }}"></script>

{% block javascript %}
    <!-- Наследуемые шаблоном javascript`ы -->
{% end %}

{% block client-teplates %}
    <!-- Наследуемые шаблоном клиентские шаблоны -->
{% end %}

</body>
</html>
