/* Loading block */
.loading {
    position: fixed;
    overflow: hidden;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.loading > div {
    position: relative;
    font-weight: bold;
    text-align: center;
    top: calc(22% + 100px);
    color: white;
}

.loading > div:first-letter {
    color: green;
}

/* Articles */
.articles {
    overflow-y: scroll;
    width: 100%;
    height: calc(100% - 33px);
    text-align: center;
    padding-top: 20px;
}

.article {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 300px;
    background: no-repeat center center;
    background-size: cover;
    border: 1px solid #000;
    overflow: hidden;
}

.article__name {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 55px;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.2);
}

.article__name-glass {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    background: no-repeat center bottom;
    background-size: auto 298px;

    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.article__name-text {
    position: relative;
    color: rgba(255, 255, 255, .6);
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.4);
    transition: all .2s ease-in-out;

    display: table;
    text-align: center;
}

.article__name-text span {
    display: table-cell;
    vertical-align: middle;
}

.article__name-text:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, .8);
}

.article__states {
    position: absolute;
    right: 0;
    top: 0;
    padding: 2px;
    background: rgba(0,0,0, 0.4);
    border-bottom-left-radius: 4px;
}

.article__states span[data-completed=true] {
    color: #080;
}

.article__states span[data-completed=false] {
    color: #c4b526;
}
