*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background: #1F1F1F;
    font-family: "Droid Sans", "Dejavu Sans", "Arial", "Consolas";
    color: #A6A6A6;
    overflow: hidden;
    height: 100%;
}

#controls {
    background: black;
    height: 33px;
    width: 100%;
    border-bottom: 1px solid #195C9D;
}

#controls::before {
    content: "";

    position: fixed;
    z-index: 1;
    top: 33px;
    left: 0;

    width: 100%;
    height: 13px;

    background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.3));
}

#controls .icon-buttons {
    display: inline-block;
    padding: 0;
    margin: 0;
    float: left;
    height: 32px;
}

#controls .icon-buttons a[data-action], #controls .icon-buttons span[data-action] {
    display: inline-block;
    background: transparent no-repeat center center;
    background-size: 24px 24px;
    padding: 0;
    margin: 0;

    width: 32px;
    height: 32px;
    cursor: pointer;

    float: left;
}

#controls .icon-buttons a[data-action=index] {
    background-image: url("/static/images/actions/main.svg");
}

.searchform {
    background: #3F3F3F;
}

.searchform .search input[type=text] {
    border: none;
    outline: none;
    padding: 0 20px;
    margin: 0;
    width: 100%;
    height: 30px;
    font-size: .8em;
}

.searchform .genres {
    padding: 20px;
    font-size: .8em;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.searchform .genres span {
    position: relative;
    color: lightslategray;
    cursor: pointer;
    padding-left: 5px;
}

.searchform .genres span[data-include] {
    color: #388E3C;
    text-decoration: underline;
}

.searchform .genres span[data-exclude] {
    color: #D32F2F;
    text-decoration: line-through;
}