.nav__buttons span[data-action=update-manga] {
    color: #91DC5A;
}

.nav__buttons span[data-action=remove-manga] {
    color: #D32F2F;
}

.nav__manga-title {
    text-align-last: right;
    line-height: 32px;
    height: 32px;
    padding-right: 20px;
    font-weight: bold;
}

.wrapper {
    overflow-y: scroll;
    width: 100%;
    height: calc(100% - 33px);
}

#article {
    background-color: gray;
    width: 800px;
    margin: 0 auto;
    border: 1px solid #111;
    display: table;
    table-layout: fixed;
}

#article div.title {
    position: relative;
    background: dodgerblue;
    font-size: 1.1em;
    line-height: 28px;
    padding-left: 20px;
    width: 100%;
    height: 30px;
    border-bottom: 1px solid black;
    color: black;
    font-weight: bold;
}

#article div.info {
    display: flex;
    width: 100%;
    height: 450px;
}

#article div.cover {
    position: relative;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    height: 450px;
    width: 325px;
    flex: none;
}

#article div.cover ul.coverlist {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 26px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}

#article div.cover ul.coverlist > li {
    display: inline-block;
    width: 20px;
    height: 25px;
    background: black;
    line-height: 27px;
    background-color: rgba(0, 0, 0, 0.8);
    border-left: 1px solid rgba(0, 255, 255, 0.4);
    cursor: pointer;
    font-size: 0.8em;
}

#article div.details {
    position: relative;
    top: 0;
    left: 0;
    height: 450px;
    width: 100%;
    padding-left: 15px;
    background: #222;
    align-self: stretch;
    border-left: 1px solid black;
    display: flex;
}

#article div.details ul {
    list-style: none;
    padding: 0;
    margin: auto;
}

#article div.details span {
    font-weight: bold;
}

#article div.details a {
    text-decoration: none;
    color: rgba(0, 255, 255, 0.4);
}

#article div.description {
    position: relative;
    background: #222222;
    padding: 5px 5px 5px 10px;
    border-top: 1px solid black;
}

#article div.chapttext {
    background: dodgerblue;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-weight: bold;
    color: black;
}

#article div.chaptlist > div[data-chaptid] {
    position: relative;
    height: 25px;
    line-height: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 10px;
    padding-right: 60px;
    background: #222222;
    cursor: pointer;

}

#article div.chaptlist > div[data-chaptid]:nth-child(even) {
    background: #2a2a2a;
}

#article div.chaptlist span.view-readed {
    position: absolute;
    color: #91DC5A;
    right: 8px;
    top: 0;
    text-align: center;
    line-height: 25px;
    font-size: 16px;
}

#article div.chaptlist div[data-chaptid] span.viewer_chapts_reading {
    position: absolute;
    font-size: 8px;
    right: 0;
    top: 0;

    width: 40px;
    height: 25px;
    line-height: 27px;
    color: #91DC5A;
    text-align: right;
    text-shadow: 1px black;
    padding-right: 6px;
    font-weight: bold;
}

#article div.chaptlist div[data-chaptid] span.viewer_chapt_pnum {
    position: absolute;
    font-size: 8px;
    right: 0;
    top: 0;

    width: 40px;
    height: 25px;
    line-height: 27px;
    color: #556667;
    text-align: right;
    text-shadow: 1px black;
    padding-right: 6px;
    font-weight: bold;
}

#article div.article-end {
    background: dodgerblue;
    border-top: 1px solid black;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-weight: bold;
    color: black;
}

#chapt-view {
    position: fixed;
    top: 0;
    left: 0;
    background: #222222;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    overflow: hidden;
    overflow-y: auto;
    z-index: 1;
}

#chapt-view .chapt-blur {
    /* TODO: Для цветных сделать graycale. */
    position: fixed;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;

    filter: blur(8px) contrast(130%);
    -webkit-filter: blur(8px) contrast(130%);

    background: no-repeat center center;
    background-size: cover;
}

#chapt-view .chapt-blur::after {
    position: absolute;
    top: 0;
    left: 0;

    content: "";
    width: inherit;
    height: inherit;

    background-color: rgba(0, 0, 0, .8);
}

body div.manga-page-num {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 60px;
    height: 25px;
    line-height: 25px;
    background: rgba(17, 17, 17, .75);
    font-size: 10px;
    text-align: center;
    border-top-right-radius: 3px;
    color: #91DC5A;
    font-weight: bold;
    z-index: 2;
}

.chapt-flexbox {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-image: url(../images/noise.png);
}

#chapt-view div.chapt-thumb {
    position: relative;
    width: 102px;
    height: 147px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid black;
    margin-left: 5px;
    margin-bottom: 5px;
    flex: none;

}

#chapt-view div.chapt-thumb::before {
    position: absolute;
    content: "";
    width: 102px;
    height: 147px;
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

#chapt-view div.chapt-thumb:hover::before {
    background: transparent;
}

#chapt-view div.chapt-thumb[data-readed]::after {
    position: absolute;
    font-family: 'FontAwesome';
    content: "\f00c";
    color: #91DC5A;
    width: 42px;
    height: 42px;
    background-color: rgba(0,0,0,.8);
    top: 50px;
    left: 30px;
    border-radius: 42px;
    cursor: pointer;
    border: 1px solid black;
    filter: blur(1px);
    opacity: .8;
    font-size: 20px;
    line-height: 42px;
    text-align: center;
}

#chapt-view .chapt-nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    width: 100%;
    height: 33px;
    z-index: 1;
    overflow: hidden;
}

#chapt-view .chapt-nav-prev,
#chapt-view .chapt-nav-next {
    position: absolute;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: rgba(0,0,0, .3);
    z-index: 1;
    top: 0;
    text-align: center;
    line-height: 32px;
    color: dodgerblue;
    font-size: 20px;
}

#chapt-view .chapt-nav-prev {
    border-bottom-right-radius: 5px;
    left: 0;
}

#chapt-view .chapt-nav-next {
    border-bottom-left-radius: 5px;
    right: 0;
}

#chapt-view .chapt-nav-current,
#chapt-view .chapt-nav-current-title {
    display: inline-block;
}

#chapt-view .chapt-nav-current {
    position: relative;
    width: 100%;
    padding-right: 50px;
    padding-left: 50px;
    line-height: 32px;
    text-align: center;
    background: rgba(0,0,0,.5);
}

#chapt-view .chapt-nav-current-title {
    font-weight: bold;
}

.manga-page {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    display: flex;
    z-index: 2;
}

.manga-page img {
    margin: auto;
    flex: none;
    width: auto;
    border: 1px solid black;
    cursor: move;
}

.manga-page .page-next, .manga-page .page-prev {
    height: 100%;
    width: 40px;
    position: absolute;
    top: 0;
    z-index: 2;
    opacity: 0.5;
    transition: all .2s ease-in-out;
    cursor: pointer;
    text-align: center;
    padding-top: 48%;
    font-size: 40px;
    color: dodgerblue;
}

.manga-page .page-prev {
    float: left;
    left: 0;
}

.manga-page .page-next {
    float: right;
    right: 0;
}

.manga-page .page-next:hover, .manga-page .page-prev:hover {
    background-color: rgba(22, 22, 22, 0.5);
    opacity: 1;
}

.cover__nav {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.cover__prev, .cover__next {
    position: absolute;
    bottom: 0;
    width: 40px;
    height: 20px;
    cursor: pointer;
    text-align: center;
    line-height: 20px;
    color: dodgerblue;
    background: rgba(0,0,0,.5);
}

.cover__prev {
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    left: 0;
}

.cover__next {
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    right: 0;
}

.cover__text {
    color: dodgerblue;
    font-weight: bold;
    width: 100%;
    height: 20px;
    line-height: 20px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, .5);
    z-index: 2;
}

.popup-centred {
    border: 1px solid rgba(30, 144, 255, .1);
    background-color: #101010;
    display: inline-block;
    font-size: 10px;
    min-width: 250px;
    max-width: 300px;
    margin-left: 10px;
    margin-top: 10px;
    position: relative;
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 40px;

}

.popup-centred h4 {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    line-height: 20px;

    margin: 0;
    padding: 0;

    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
    background: #195C9D;
}

.popup-centred input[type=button] {

}

.popup-centred input[data-popup="cancel"] {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.popup-centred input[data-popup="execute"] {
    position: absolute;
    bottom: 10px;
    right: 10px;
}